__pycache__/
*.pyc
.venv/
venv/
env/
.pytest_cache/
*.egg-info/

# Generated artifacts (recreated by training)
models/*.pkl
models/*.json
database/*.db

# Keep folder placeholders
!models/.gitkeep
!database/.gitkeep

.DS_Store
*.log
